
<div class="boxes">
@for (box of boxes; track boxes) {
<app-box [boxValue]="box" (clickedBox)="doSomeActionsOnBox($event)"></app-box>
}
<i class="material-icons delete-icon" (click)="refreshBoxes()" >delete</i>
Total value:
{{sumOfFilledBoxesValue}}
</div>
@if(isOptionsSelectionsOpened){
<diV class="container-options" >
<div class="options">
@for (option of optionSelections; track boxes) {
<app-option-selector [option]="option" (injectValueIntoBox)="addvalueToSelectedBox($event)" ></app-option-selector>
}
</div>
</diV>
}
