/* You can add global styles to this file, and also import other style files */
.white{
    background-color: white;
}

.red{
    background-color: #e3142969;
}
.grey{
    background-color: #80808069;
}

.green{
    background-color: #60c97069;
}